{% extends 'base.html.twig' %}
{% block title %}Members{% endblock %}
{% block body %}
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-xl px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="user"></i></div>
                            Modification Membre
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-10 ">
        <div class="row">
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                        <div class="card-body">
                            <form action="{{ path('member_save_edit_form', {'memberId': memberToEdit.id}) }}" method="POST" enctype="multipart/form-data">
                                <div class="row gx-3 mb-3">
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" id="checkActive" type="checkbox" checked="" value="">
                                        <label class="form-check-label" for="checkActive">Actif</label>
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="card-body text-center">
                                        <img class="img-account-profile rounded-circle mb-2" src="{{ asset('dist/assets/img/illustrations/profiles/profile-2.png') }}" alt="" />
                                        <!-- Profile picture help block-->
                                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                                            <div class="col-md-10">
                                                <label for="formFile" class="form-label"></label>
                                                <input class="form-control" type="file" id="formFile">
                                            </div>
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputUsername">Nom </label>
                                        <input class="form-control" name="name" id="inputUsername" type="text" placeholder="Entrez votre nom ..." value="{{ memberToEdit.name }}" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputEmail">Email</label>
                                        <input class="form-control" name="email" id="inputEmail" type="email" placeholder="Entrez votre email..." value="{{ memberToEdit.email }}" />
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-md-12">
                                        <label class="small mb-1" for="inputAdresse">Adresse</label>
                                        <input class="form-control" name="address" id="inputAdresse" type="text" placeholder="Entrez votre adresse ..." value="{{ memberToEdit.address }}" />
                                    </div>
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputCity">Ville</label>
                                        <input class="form-control" name="city" id="inputCity" type="text" placeholder="Entrez votre ville ... " value="{{ memberToEdit.city }}" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputPhone">Télephone</label>
                                        <input class="form-control" name="phone" id="inputPhone" type="tel" placeholder="Entrez votre télèphone ..." value="" />
                                    </div>
                                </div>


                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputCodePost">Code postal</label>
                                        <input class="form-control" name="postCode" id="inputCodePost" type="text" placeholder="Entrez votre code postal ..." value="{{ memberToEdit.postCode }}" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputCountry">Pays</label>
                                        <input class="form-control" name="country" id="inputCountry" type="text" placeholder="Entrez votre pays ..." value="{{ memberToEdit.country }}" />
                                    </div>
                                </div>

                                <!-- Save changes button-->
                                <div class="text-center">
                                    <a class="btn btn-secondary" href="{{ path('members_list') }}">Retour</a>
                                    <button class="btn btn-success" type="submit">Confirmer</button>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}