{% extends 'base.html.twig' %}
{% block title %}Liste des Membres{% endblock %}
{% block body %}
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="user"></i></div>
                            Liste des Membres
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-fluid px-4">
        {% for errorMessage in app.flashes('editMemberSuccess') %}
            <div class="alert alert-success">
                {{ errorMessage }}
            </div>
        {% endfor %}
        <div class="card">
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Fonction</th>
                        <th>Date d'inscription</th>
                        <th>Actif</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nom</th>
                        <th>Fonction</th>
                        <th>Date d'inscription</th>
                        <th>Actif</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for member in members %}
                    <tr>
                        <td>{{ member.name }}</td>
                        <td>{{ member.job }}</td>
                        <td>24/01/2024</td>
                        <td>
                            {% if member.actif == 0 %}
                                <span class="badge bg-green-soft text-red">non actif</span>
                            {% elseif member.actif == 1 %}
                                <span class="badge bg-green-soft text-green">actif</span>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="{{ path('member_show_edit_form', {'memberId': member.id}) }}"><i data-feather="edit"></i></a>
                            <a  class="btn btn-datatable btn-icon btn-transparent-dark" href="{{ path('member_to_delete', {'memberId': member.id }) }}"><i data-feather="trash-2"></i></a>
                            <a  class="btn btn-datatable btn-icon btn-transparent-dark" href="{{ path('members_selected_show', {'memberId': member.id }) }}"><i data-feather="list"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block additionalJavascript %}
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="{{ asset('dist/js/datatables/datatables-simple-demo.js') }}"></script>
{% endblock %}